<div class="container">
    <div class="container-edit">

        <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">descripcion</th>
      <th scope="col">ticket</th>
      <th scope="col">fecha</th>
      <th scope="col">Quien ejecutó</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each actividades }}    
    <tr>
      
      <th scope="row">{{@index}}</th>
      <td><a href="/equipos/view/{{_id}}">{{this.descripcion}}</a></td>
      <td>{{this.ticket}}</td>
      <td>{{this.fecha}}</td>
      <td>{{this.ejecutor}}</td>      
      <td>        
        <a id="iconedit" href="/actividades/edit/{{_id}}" ><i class="fas fa-edit"></i></a><span class="overtext" id="onhovericedit">Editar Actividad</span>
        <a id="iconview" href="/actividades/view/{{_id}}"><i class="fas fa-eye"></i></a><span class="overtext" id="onhovericview">Ver actividad</span>
        
        
        
      </td>

    </tr>
    
    {{/each}}    

    
  </tbody>
</table>
    </div>
</div>