<div class="jumbotron mt-4">
  <h1>Hoja de vida de equipos</h1>
</div>

<!-- %%%%%%%%%%%%%% Boton Modal %%%%%%%%%%%%%% -->
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-primary me-md-2" type="button" data-bs-toggle="modal" data-bs-target="#formModal">Agregar
    Equipo</button>
</div>

<!-- %%%%%%%%%%%%%% Modal %%%%%%%%%%%%%% -->
<!-- %%%%%%%%%%%%%% header Modal %%%%%%%%%%%%%% -->
{{#each errors }}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{{/each}}

{{>modalForm}}


<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">nombre</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Serial</th>
      <th scope="col">Proveedor</th>
      <th scope="col">Descripción</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each equipos }}
    
    <tr>
      
      <th scope="row">{{@index}}</th>
      <td>{{nombre}}</td>
      <td>{{marca}}</td>
      <td>{{modelo}}</td>
      <td>{{serial}}</td>
      <td>{{proveedor}}</td>
      <td>{{descripcion}}</td>
      <td><img class="icon16" src="open-iconic/svg/pencil.svg" alt="box"></td>

    </tr>
    {{/each}}    
  </tbody>
</table>