<div class="container mt-4">
  <h1>Hoja de vida de equipos</h1>
</div>

<div class="container">
    <h3>Proveedores</h3>
    <hr>
</div>

<!-- %%%%%%%%%%%%%% Boton Modal %%%%%%%%%%%%%% -->
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-primary me-md-2" type="button" data-bs-toggle="modal" data-bs-target="#formModalProveedores">Nuevo
    Proveedor</button>
</div>

<!-- %%%%%%%%%%%%%% Modal %%%%%%%%%%%%%% -->
<!-- %%%%%%%%%%%%%% header Modal %%%%%%%%%%%%%% -->
{{#each errors }}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{{/each}}

{{>modalProveedores}}


<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">nombre</th>
      <th scope="col">Representante</th>
      <th scope="col">Orden</th>
      <th scope="col">Contacto administrativo</th>
      <th scope="col">contacto Soporte</th>
      <th scope="col">Correo soporte</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    
    {{#each proveedores }}    
    <tr>      
      <th scope="row">{{@index}}</th>
      <td><a href="/proveedores/view/{{_id}}"></a>{{nombre}}</td>
      <td>{{representante}}</td>
      <td>{{orden}}</td>
      <td>{{telRep}}</td>
      <td>{{telSoporte}}</td>
      <td>{{correoSoporte}}</td>
      <td><a href="/proveedores/edit/{{_id}}"><i class="fas fa-edit"></i></a>
      <a href="/proveedores/view/{{_id}}"><i class="fas fa-eye"></i></a>
      </td>
    </tr>
    {{/each}}    
  </tbody>
</table>