<div class="container mt-4">
    <div class="card border-dark mb-4">
        <div class="title-t-card-text">{{equipo.nombre}}</div>
        <div class="card-body">

            <div class="row g-1">
                <h3>{{equipo.marca}}</h3>
                <hr>
            </div>

            <div class="row g-1">
                <p><i>{{equipo.descripcion}}</i></p>
            </div>

            <div class="row g-3">
                <div class="col">
                    <p> <strong>Proveedor: </strong>{{equipo.proveedor.nombre}}</p>
                </div>

                <div class="col">
                    <p><strong>Modelo: </strong>{{equipo.modelo}}</p>
                </div>

                <div class="col">
                    <p><strong>Serial: </strong>{{equipo.serial}}</p>
                </div>

            </div>

            <div class="row g-3">

                <div class="col">
                    <p> <strong>Linea de servicio: </strong>{{equipo.linea}}</p>
                </div>

                <div class="col">
                    <p> <strong>Tipo de equipo: </strong>{{equipo.tipo}}</p>
                </div>

                <div class="col">
                    <p> <strong>Placa de Inventario: </strong>{{equipo.placa}}</p>
                </div>

            </div>


            <div class="row g-3 mt-2">

                <div class="col-8">
                    <p> <strong>Sistema Operativo: </strong>{{equipo.sistemaOperativo}}</p>
                </div>

                <div class="col-2">
                    <p> <strong>Rack No.: </strong>{{equipo.rack}}</p>
                </div>

                <div class="col-2">
                    <p> <strong>Unidad de Rack: </strong>{{equipo.urack}}</p>
                </div>

            </div>


            <div class="row g-3">

                <div class="col">
                    <p> <strong>Dirección IP: </strong>{{equipo.ipGestion}}</p>
                </div>

                <div class="col">
                    <p> <strong>Dirección MAC: </strong>{{equipo.macAddress}}</p>
                </div>

                <div class="col">
                    <p> <strong>Equipo activo: {{equipo.activo}}</strong></p>
                </div>

            </div>

            <div class="row g-3 mt-3">

                <div class="col">
                    <p> <strong>Fecha Instalación: </strong>{{equipo.fechaInstalacion}}</p>
                </div>

                <div class="col">
                    <p> <strong>Vigencia Soporte: {{equipo.fechaFinSoporte}}</strong></p>
                </div>

                <div class="col">
                    <p> <strong>Vigencia Licenciamiento: {{equipo.fechaFinLicencia}}</strong></p>
                </div>

            </div>

            <div class="row g-1">
                <div class="col">
                    <p> <strong>Fecha Retiro: </strong>{{equipo.fechaRetiro}}</p>
                </div>
            </div>

            <div class="row g-1">

                <div class="col">
                    <p> <strong>Información adicional: </strong>{{equipo.infoAdicional}}</p>
                </div>

            </div>


        </div>
    </div>


    <div class="card border-dark mb-1">
        <div class="title-card-text"><strong>Activides realizadas</strong></div>
        <div class="card-body">
            <p>A continuacion se listan las actividades en orden cronológico ejecutadas sobre el equipo
                <strong>{{equipo.nombre}}</strong>, adicionalmente se lista la información detallada de cada
                actividad: quien la ejecutó, cuando la ejecutó, que actividades realizó y por que se realizó la
                actividad.
            </p>
        </div>
    </div>


    <div class="card border-dark mb-1 mt-4">
        <div class="title-card-text"><strong>Listado de Activides</strong></div>
        <div class="card-body">

            {{#each activities }}

            <div class="card border-primary mb-2">
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td><strong>Fecha</strong><h10> (AAAA-MM-DD)</h10>: {{this.fecha}}</td>
                                <td><strong>Hora de Inicio:</strong> {{this.horaInicio}}</td>
                                <td><strong>Hora de Finalizacion:</strong> {{this.horaFin}}</td>
                            </tr>
                            <tr>
                                <td><strong>Descripcion de la Actividad:</strong>
                                    <div>{{this.descripcion}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Ticket No.:</strong> {{this.ticket}}</td>
                                <td><strong>Quien Realizó la Actividad:</strong>
                                    <div>{{this.ejecutor}}</div>
                                </td>
                                <td><strong>Tipo de actividad:</strong> {{this.tipo}}</td>
                            </tr>
                            <tr>
                                <td><strong>Informacion Adicional:</strong>
                                    <div>{{this.infoAdicional}}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            {{/each}}

        </div>
    </div>



</div>