<div class="container mt-4">
    <div class="card border-dark mb-4">
        <div class="title-t-card-text">{{equipo.nombre}}</div>
        <div class="card-body">

            <div class="row g-1">
                <h3>{{equipo.marca}}</h3>
                <hr>
            </div>

            <div class="row g-1">
                <p><i>{{equipo.descripcion}}</i></p>
            </div>

            <div class="row g-3">
                <div class="col-md">
                    <p> <strong>Proveedor: </strong>{{equipo.proveedor}}</p>
                </div>

                <div class="col-md">
                    <p><strong>Modelo: </strong>{{equipo.modelo}}</p>
                </div>

                <div class="col-md">
                    <p><strong>Serial: </strong>{{equipo.serial}}</p>
                </div>

            </div>

            <div class="row g-3">

                <div class="col-md">
                    <p> <strong>Linea de servicio: </strong>{{equipo.linea}}</p>
                </div>

                <div class="col-md">
                    <p> <strong>Tipo de equipo: </strong>{{equipo.tipo}}</p>
                </div>

                <div class="col-md">
                    <p> <strong>Placa de Inventario: </strong>{{equipo.placa}}</p>
                </div>

            </div>


            <div class="row g-3 mt-2">

                <div class="col-md-8">
                    <p> <strong>Sistema Operativo: </strong>{{equipo.sistemaOperativo}}</p>
                </div>

                <div class="col-md-2">
                    <p> <strong>Rack No.: </strong>{{equipo.rack}}</p>
                </div>

                <div class="col-md-2">
                    <p> <strong>Unidad de Rack: </strong>{{equipo.urack}}</p>
                </div>

            </div>


            <div class="row g-3">

                <div class="col-md">
                    <p> <strong>Dirección IP: </strong>{{equipo.ipGestion}}</p>
                </div>

                <div class="col-md">
                    <p> <strong>Dirección MAC: </strong>{{equipo.macAddress}}</p>
                </div>

                <div class="col-md">
                    <p> <strong>Equipo activo: {{equipo.activo}}</strong></p>
                </div>

            </div>

            <div class="row g-1">

                <div class="col-md">
                    <p> <strong>Información adicional: </strong>{{equipo.infoAdicional}}</p>
                </div>

            </div>


        </div>
    </div>


     <div class="card border-dark mb-4">
        <div class="title-card-text">Activides realizadas sobre el equipo</div>
        <div class="card-body">
        </div>
     </div>



</div>